<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>依赖分析</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/javascripts/jquery-2.2.3.min.js"></script>
</head>
<body>
<h1>依赖分析</h1>
<form method="post" action="/project/depends">
    分析的模块（必填）:&nbsp;<input id="root" name="root" type="text"></input></br></br>
    依赖的模块（选填）:&nbsp;<input id="depend_root" name="depend_root" type="text"></input></br></br>
    <input id="submit_btn" name="submit_btn" type="submit" value="分析"></input>
</form>
</body>
</html>