<!DOCTYPE html>
<html>
<head>
    <title>项目分析工具</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>项目分析工具</h1>
<p><a href="/project/depends">依赖分析</a></p>
<p><a href="/project/duplicate">查找重名文件</a></p>
</body>
</html>